.form {
  &__container {
    // width: rem(180);
    & + .form__container {
      margin-top: rem(15);
    }
  }
  &__wrap {
    @include onFlex(flex-start, flex-start);
  }
}

input {
  height: rem(28);
  border: rem(1) solid #999999;
  border-radius: rem(4);
  padding: 0 rem(10);

  &[type="text"] {
    &::placeholder {
      color: #999999;
    }
  }
  &::disabled {
    background: #999999;
    cursor: not-allowed;
  }
}
.input {
  &__title {
    display: inline-block;
    font-size: rem(14);
    font-weight: 700;
    padding-bottom: rem(3);
  }
  &__box {
    & + .input__box {
      margin-top: rem(15);
    }
  }
  &__group {
    @include onFlex(center, flex-start);
  }
  &__error {
    display: block;
    font-size: rem(12);
    color: #df3f3f;
    padding-top: rem(5);
  }
}

.select {
  &__box {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__head {
    border: rem(1) solid #999999;
    border-radius: rem(4);
    cursor: pointer;
    &.open {
      & + .select__option {
        display: block;
      }
    }
  }
  &__option {
    position: relative;
    top: rem(0);
    display: none;
    width: 100%;
    border: rem(1) solid #999999;
    border-radius: rem(4);
    .item__list {
      li {
        height: rem(20);
        &:hover {
          background-color: aquamarine;
        }
      }
    }
  }
}
