@font-face {
  font-style: right;
  font-weight: 300;
  font-family: "pretendard";

  font-display: "fallback";
  src: url("../../fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "pretendard";

  font-display: "fallback";
  src: url("../../fonts/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-style: medium;
  font-weight: 500;
  font-family: "pretendard";

  font-display: "fallback";
  src: url("../../fonts/Pretendard-Bold.woff2") format("woff2");
}
// @font-face {
//   font-style: bold;
//   font-weight: 600;
//   font-family: "pretendard";

//   font-display: "fallback";
//   src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2");
// }
@font-face {
  font-style: bold;
  font-weight: 700;
  font-family: "pretendard";

  font-display: "fallback";
  src: url("../../fonts/Pretendard-ExtraBold.woff2") format("woff2");
}
