header {
  position: fixed;
  top: 0;
  left: 0;
  @include onFlex(center, center);
  width: 100%;
  height: rem(60);
  font-size: rem(14);
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  z-index: 10;

  .logo {
    font-size: rem(24);
    font-weight: 700;
    &__wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.nav__wrap {
  @include onFlex(center, space-between);
  height: 100%;
  padding-left: rem(200);

  .list__item {
    @include onFlex(center, center);
    height: 100%;
    &.sub__menu {
      li {
        a {
          font-size: rem(14);
          font-weight: 400;
        }
      }
    }
    li {
      & + li {
        margin-left: rem(20);
      }
      a {
        font-size: rem(16);
        font-weight: 700;
        color: #000000;
      }
    }
  }
}

@include mobile() {
  header {
    .logo {
      font-size: rem(18);
    }
  }
  .nav__wrap {
    display: none;
  }
}
