.login {
  @include onFlex(center, flex-start);
  flex-direction: column;
  padding-top: rem(100);
  &__desc {
    font-size: rem(12);
    margin-top: rem(5);
  }
  .title {
    padding-bottom: rem(40);
  }
}

main {
  @include onFlex(flex-start, center);

  height: calc(100% - 40px);
  padding-top: rem(60);
  overflow: auto;
  .contents {
    &__wrap {
      height: 100%;
      padding-top: rem(100);
    }
    &__form {
      @include onFlex(center, flex-start);
      flex-direction: column;

      .title {
        font-size: rem(32);
        font-weight: 500;
        color: #4f4f4f;
        &__box {
          text-align: center;

          & + .contents__box {
            margin-top: rem(100);
          }
        }
        &__desc {
          font-size: rem(14);
          color: #6d6886;
        }
      }
      .join {
        &__wrap {
          width: calc(100% - 540px);
          min-width: rem(600);
          .form__wrap {
            width: 100%;
          }
          .form__box {
            padding-bottom: rem(40);
            border-bottom: rem(1) solid #ededed;
            & + .form__box {
              margin-top: rem(60);
            }
          }

          .contents__box {
            .title {
              font-size: rem(24);
              font-weight: 500;
              text-align: left;
              &__box {
                text-align: left;
                padding-bottom: rem(20);
                border-bottom: rem(1) solid #aaaaaa;
                & + .form__container {
                  margin-top: rem(40);
                }
              }
              &__desc {
                font-size: rem(12);
                text-align: left;
              }
            }

            .input__box {
              input {
                width: rem(300);
              }
            }
          }
          .btn__wrap {
            margin-top: rem(60);
            text-align: center;
          }
        }
        // &__process {

        // }
      }
    }
  }
}
