.btn {
  min-width: rem(80);
  width: 100%;
  height: rem(40);
  font-size: rem(14);
  font-weight: 700;
  border-radius: rem(8);
  padding: 0 rem(12);
  letter-spacing: rem(-0.1);
  &:disabled {
    background-color: #a2a2a2;
    cursor: not-allowed;
  }
  &__primary {
    color: #ffffff;
    background-color: #0d99ff;
  }
  &__small {
  }
  &__medium {
    height: rem(40);
    border: rem(1) solid #666666;
  }
  &__submit {
    width: rem(360);
    height: rem(56);
  }

  & + .btn {
    margin-left: rem(10);
  }
  &__close {
    position: absolute;
    top: rem(50);
    right: 0;
  }
}
