.btn {
  min-width: rem(80);
  height: rem(25);
  border-radius: rem(4);
  &:disabled {
    background-color: #a2a2a2;
    cursor: not-allowed;
  }
  &__primary {
    color: #ffffff;
    background-color: rgb(120, 120, 254);
  }
  &__small {
  }
  &__medium {
    height: rem(40);
    border: rem(1) solid #666666;
  }
  & + .btn {
    margin-left: rem(10);
  }
  &__close {
    position: absolute;
    top: rem(50);
    right: 0;
  }
}
