.root {
  height: 100%;
  overflow: hidden;
}

.container {
  width: rem(1280);
  height: 100%;
}

.disabled {
  display: none;
}

main {
  @include onFlex(flex-start, center);

  height: calc(100% - 40px);
  // padding-top: rem(60);
  overflow: auto;
  .contents {
    &__wrap {
      height: 100%;
      // padding: rem(20);
    }
    &__form {
      @include onFlex(center, center);
      flex-direction: column;
      .title {
        &__box {
          text-align: center;
          padding-bottom: rem(40);
        }
        font-size: rem(32);
        &__desc {
        }
      }
    }
  }
}

.pop {
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    &.disabled {
      display: none;
    }
  }
  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(500);
    height: rem(500);
    background-color: rgba(255, 255, 255);
    transform: translate(-50%, -50%);
  }
}
